<template>
    <div>
        <b-modal
            id="new_vision_camera_calibrate_robot_origin"
            title="Calibrate Robot Origin Using Camera"
            @ok="handle_create"
            @hidden="handle_hidden"
            hide-header-close
            scrollable
        >
        
            <b-form-group
            label="Robot"
            label-for="robot-select"
            >
                <b-form-select
                    id="robot-select"
                    v-model="robot_selected"
                    :options="robot_select_options"
                >
                </b-form-select>
            </b-form-group>
            <b-form-group
            label="Camera Intrinsic Parameters"
            label-for="camera-intrinsic-select"
            >
                <b-form-select
                    id="camera-intrinsic-select"
                    v-model="camera_intrinsic_selected"
                    :options="camera_intrinsic_select_options"
                >
                </b-form-select>
            </b-form-group>
            <b-form-group
            label="Camera Extrinsic Parameters"
            label-for="camera-extrinsic-select"
            >
                <b-form-select
                    id="camera-extrinsic-select"
                    v-model="camera_extrinsic_selected"
                    :options="camera_extrinsic_select_options"
                >
                </b-form-select>
            </b-form-group>
            <b-form-group
            label="Image Sequence Calibration Dataset"
            label-for="image-sequence-select"
            >
                <b-form-select
                    id="image-sequence-select"
                    v-model="image_sequence_selected"
                    :options="image_sequence_select_options"
                >
                </b-form-select>
            </b-form-group>
            <b-form-group
            label="ArUco Marker Dictionary"
            label-for="aruco-dict-select"
            >
                <b-form-select
                    id="aruco-dict-select"
                    v-model="aruco_dict_selected"
                    :options="aruco_dict_select_options"
                >
                </b-form-select>
            </b-form-group>
            <b-form-group
            label="ArUco Marker Tag ID"
            label-for="aruco-tag-id"
            >
                <b-form-input
                    id="aruco-tag-id"
                    v-model="aruco_tag_id"
                >
                </b-form-input>
            </b-form-group>
            <b-form-group
            label="ArUco Marker Tag Size (meter)"
            label-for="aruco-tag-size"
            >
                <b-form-input
                    id="aruco-tag-size"
                    v-model="aruco_tag_size"
                >
                </b-form-input>
            </b-form-group>

            <b-form-group
                label="Flange To Marker Pose (meter,degree)"
            >
                <b-form-group
                label="x"
                label-for="marker_pose_x"
                >
                    <b-form-input
                        id="marker_pose_x"
                        v-model="marker_pose_x"
                    >
                    </b-form-input>
                </b-form-group>
                <b-form-group
                label="y"
                label-for="marker_pose_y"
                >
                    <b-form-input
                        id="marker_pose_y"
                        v-model="marker_pose_y"
                    >
                    </b-form-input>
                </b-form-group>
                <b-form-group
                label="z"
                label-for="marker_pose_z"
                >
                    <b-form-input
                        id="marker_pose_z"
                        v-model="marker_pose_z"
                    >
                    </b-form-input>
                </b-form-group>
                <b-form-group
                label="R"
                label-for="marker_pose_r_r"
                >
                    <b-form-input
                        id="marker_pose_r_r"
                        v-model="marker_pose_r_r"
                    >
                    </b-form-input>
                </b-form-group>
                <b-form-group
                label="P"
                label-for="marker_pose_r_p"
                >
                    <b-form-input
                        id="marker_pose_r_p"
                        v-model="marker_pose_r_p"
                    >
                    </b-form-input>
                </b-form-group>
                <b-form-group
                label="Y"
                label-for="marker_pose_r_y"
                >
                    <b-form-input
                        id="marker_pose_r_y"
                        v-model="marker_pose_r_y"
                    >
                    </b-form-input>
                </b-form-group>
            </b-form-group>
            
        </b-modal>
    </div>
</template>